.container{
	width: 800px;
}

.flash-message{
	text-align: center;
	background-color: yellow;
	text-decoration: bold;
	width: 800px;
}

#profile_pic{
	width: 450px;
	vertical-align: middle;
}

.title{
	text-align: center;
}

.preview {
	width: 100px;
}
div.row a {
	text-align: center;
}
div.tableContainer{
	clear: both;
	border: 1px solid black;
	height: 500px;
	overflow: auto;
	width: 770px;
}
div.tableContainer table {
	width: 770px;
}
thead.fixedHeader tr {
	position: relative;
}
table {
	display: block;
}
thead.fixedHeader {
	display: block;
}
tbody.scrollContent {
	display: block;
	height: 400px;
	overflow: auto;
	width: 100%;
}
thead.fixedHeader th {
	width: 335px;
}
thead.fixedHeader th + th {
	width: 335px;
}
thead.fixedHeader th + th + th {
	width: 100px;
}
tbody.scrollContent td {
	width: 335px;
}
tbody.scrollContent td + td {
	width: 335px;
}
tbody.scrollContent td + td + td {
	width: 100px;
	text-align: right;
}
tbody td {
	width: 335px;
}
tbody td + td {
	width: 335px;
}
tbody td + td + td {
	width: 100px;
}
tbody td + td + td .radio{
	vertical-align: middle;
}