.container{
	width: 800px;
}

.flash-message{
	text-align: center;
	background-color: yellow;
	text-decoration: bold;
	width: 800px;
}

#profile_pic{
	width: 450px;
	vertical-align: middle;
}

.title{
	text-align: center;
}

.preview {
	width: 100px;
}
div.row a {
	text-align: center;
}

table {
	width: 100%;
}
thead, tbody, tr, td, th {
	display: block;
}
tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}
thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 400px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 33.3%;
    float: left;
}