.container{
	width: 800px;
}

.flash-message{
	text-align: center;
	background-color: yellow;
}

#profile_pic{
	width: 450px;
}

.title{
	text-align: center;
}

.preview {
	width: 100px;
}
input, select {
	width: 150px;
}
table {
	width: 100%;
}
thead, tbody, tr, td, th {
	display: block;
}
tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}
thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 400px;
    overflow-y: auto;
}

thead {
    /* fallback */
}

tbody td, thead th {
    float: left;
}
.three-column {
	width: 33.3%;
}
.five-column {
	width: 26%;
}
.five-column.third {
	width: 11%;
}
.five-column.fifth {
	width: 11%;
}